<div class="cont">
  <div>
    <h5>Rubros</h5>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col"><button class="btn btn-sm btn-outline-success" (click)="newOne()" data-toggle="modal"
            data-target="#editor"><i class="material-icons">border_color</i>Nuevo</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rub of rubros">
        <th scope="row">{{ rub.id }}</th>
        <td>{{ rub.nombre }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary" (click)="editar(rub.id)" data-target="#editor" data-toggle="modal"><i class="material-icons">edit</i></button>
          <button *ngIf="rub.id!==1" class="btn btn-sm btn-outline-danger" (click)="borrar(rub.id,rub.nombre)"><i class="material-icons">delete</i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="editor" class="modal fade" role="dialog" aria-labelledby="Editar rubro" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="" id="" class="form-control" [(ngModel)]="rub.nombre">
          </div>
          <button (click)="modificarRubro()" data-dismiss="modal">Guardar</button>
          <button class="close" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>